
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 50%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 59%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 65%; } }

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;}

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

.points ul {
    padding-left: 25px;
}

.points ul li {
    list-style-type: circle;
}


input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none; }

button {
  border: none;
  cursor: pointer; }

textarea {
  resize: none; }

.heading-primary {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 4.5rem; } }


.heading-primary-letter {
  font-size: 6rem;
  letter-spacing: 3px;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 4.5rem; }
}

.heading-sec__mb-bg {
  margin-bottom: 11rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-sec__mb-bg {
      margin-bottom: 8rem; } }

.heading-sec__mb-med {
  margin-bottom: 9rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-sec__mb-med {
      margin-bottom: 8rem; } }

.heading-sec__main {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 3rem;
  position: relative; }
  .heading-sec__main--lt {
    color: #fff; }
    .heading-sec__main--lt::after {
      content: '';
      background: #fff !important; }
  .heading-sec__main::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #ffd106;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px; }
    @media only screen and (max-width: 37.5em) {
      .heading-sec__main::after {
        top: calc(100% + 1.2rem); } }

.heading-sec__sub {
  display: block;
  text-align: justify;
  color: #000000;
  font-size: 2.5rem;
  font-weight: 500;
  margin: auto;
  line-height: 1.6; 
  margin-bottom: 2rem; }

  @media only screen and (max-width: 37.5em) {
    .heading-sec__sub {
      font-size: 1.8rem; } }
  .heading-sec__sub--lt {
    color: #eee; }

.heading-sm {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%; }

.btn {
  background: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .btn:hover {
    transform: translateY(-3px); }
  .btn--bg {
    padding: 1.5rem 8rem;
    font-size: 2rem; }
  .btn--med {
    padding: 1.5rem 5rem;
    font-size: 1.6rem; }
  .btn--theme {
    background: #ffd106;
    color: #fff; }
  .btn--theme-inv {
    color: #ffd106;
    background: #fff;
    border: 2px solid #ffd106;
    box-shadow: none;
    padding: calc(1.5rem - 2px) calc(5rem - 2px); }

.sec-pad {
  padding: 12rem 0; }
  @media only screen and (max-width: 56.25em) {
    .sec-pad {
      padding: 8rem 0; } }

.text-primary {
  color: #ffd106;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  font-weight: 300;
  line-height: 1.6; }
  @media only screen and (max-width: 37.5em) {
    .text-primary {
      font-size: 2rem; } }
    

.d-none {
  display: none; }

.home-hero {
  color: #fff;
    background: linear-gradient(to left, rgba(50, 64, 78, 0.8), rgba(3, 40, 74, 0.8));
    background-position: center;
    height: 90vh;
    position: relative;
  }
  @media only screen and (max-width: 37.5em) {
    .home-hero {
      height: unset;
      min-height: unset; } }


      .home-hero__socials {
        position: absolute;
        top: 55%;
        right: 0;
        background-color: white;
        padding: 15px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        z-index: 2;
        transform: translateY(-50%);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; 
    }
    
    
    .home-hero__social {
      width: 5.5rem; }
      
    .home-hero__social-icon-link {
      width: 100%;
      display: block;
      padding: 0.5rem;
      border-bottom: 1px solid #eee;
      transition: background .3s;
      border-radius: 10px;
      border-radius: 10px;  }
  
    .home-hero__social-icon {
      width: 100%; }

      .home-hero__social-icon-link:hover {
        transform: scale(1.3); /* Scale up the icon on hover */
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.8); /* Add a soft glow effect */
    }
    



    @media only screen and (max-width: 56.25em) {
        .home-hero__socials {
            display: none;
        }
    }
    



  .home-hero__content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
  }
    @media only screen and (max-width: 37.5em) {
      .home-hero__content {
        padding: 19rem 0 13rem 0;
        margin: auto;
        position: static;
        transform: translate(0, 0); } }
  .home-hero__info {
    margin: 3rem auto 0 auto; 
  }
  .home-hero__cta {
    margin-top: 5rem;
    text-align: center; }

.about {
  background: #ffff; }
.about__content {
    display: block;
  }
    @media only screen and (max-width: 56.25em) {
      .about__content {
        grid-template-columns: 1fr;
        grid-gap: 8rem; } }
    .about__content-title {
      display: flex;
      align-items: center;  
      font-weight: 600;
      font-size: 2.8rem;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .about__content-title {
          font-size: 2.4rem; } }
    .about__content-details-para {
      font-size: 1.8rem;
      color: grey;
      max-width: 60rem;
      line-height: 1.7;
      margin-bottom: 1rem; }
      .about__content-details-para--hl {
        font-weight: 700;
        margin: 0 3px; }
      .about__content-details-para:last-child {
        margin-bottom: 4rem; }

        .education-item {
          margin-bottom: 20px; /* Adjust the value to set the desired space between items */
        }
        
        .completion-date {
          margin-left: 10px; 
          color: rgb(133, 130, 130);
          /* Adjust the value for spacing between the degree title and completion date */
        }
        .completion-date-projects{
          margin-left:0px; 
          color: rgb(133, 130, 130);
          /* Adjust the value for spacing between the degree title and completion date */
        }

        .add_line {
          flex-grow: 1;
          height: 3px;
          background-color: #000; /* Set the line color */
          margin-left: 10px; /* Adjust as needed to control the space between the title and the line */
      }


.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #000;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1); }
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem; }
    @media only screen and (max-width: 56.25em) {
      .header__content {
        padding: 0 2rem; } }


        .header__logo-container {
          display: flex;
          align-items: center;
          cursor: pointer;
          color: #000000;
          transition: all 0.3s; /* Apply the transition to all properties */
      }
      
      .header__logo-container:hover {
          color: #ffd106;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
      }
      
      
  .header__logo-sub {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px; }
  .header__links {
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .header__links {
        display: none; } }
  /* .header__link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 2rem;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s; }

    .header__link:hover {
      color: #ffd106;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); } */
  
      .header__link {
        padding: 2.2rem 3rem;
        display: inline-block;
        font-size: 2rem;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        position: relative;
        transition: color .3s;
    }
    
    .header__link:hover {
        color: #000000;
    }
    
    .header__link:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffd106; /* Background color of the shape */
        z-index: -1; /* Place the shape behind the text */
    }
    

    @media only screen and (max-width: 56.25em) {
      .header__link {
        padding: 3rem 1.8rem;
        font-size: 1.5rem; } }
  .header__main-ham-menu-cont {
    display: none;
    width: 3rem;
    padding: 2.2rem 0; }
    @media only screen and (max-width: 37.5em) {
      .header__main-ham-menu-cont {
        display: block; } }
  .header__main-ham-menu {
    width: 100%; }
  .header__main-ham-menu-close {
    width: 100%; }
  .header__sm-menu {
    background: #fff;
    position: absolute;
    width: 100%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1); }
    .header__sm-menu--active {
      visibility: hidden;
      opacity: 0; }
      @media only screen and (max-width: 37.5em) {
        .header__sm-menu--active {
          visibility: visible;
          opacity: 1; } }
  .header__sm-menu-link a {
    display: block;
    text-decoration: none;
    padding: 2.5rem 3rem;
    font-size: 1.6rem;
    color: #000000;
    text-align: right;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color .3s; }
    .header__sm-menu-link a:hover {
      color: #f9cc18}
  .header__sm-menu-link:first-child a {
    border-top: 1px solid #eee; }
  .header__sm-menu-link-last {
    border-bottom: 0; }

  .hovering a:hover{
    color: #f9cc18;
  }

.main-footer {
  background: #000;
  color: #fff; }
  .main-footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0; }
    @media only screen and (max-width: 56.25em) {
      .main-footer__upper {
        padding: 6rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .main-footer__upper {
        display: block; } }
  .main-footer__row-1 {
    order: 2; }
    @media only screen and (max-width: 56.25em) {
      .main-footer__row-1 {
        margin-bottom: 5rem; } }
  .main-footer__row-2 {
    width: 40%;
    order: 1;
    max-width: 50rem; }
    @media only screen and (max-width: 56.25em) {
      .main-footer__row-2 {
        width: 100%; } }
  .main-footer__short-desc {
    margin-top: 2rem;
    color: #eee;
    font-size: 1.5rem;
    line-height: 1.7; }
  .main-footer__social-cont {
    margin-top: 2rem; }

   
  .main-footer__icon {
    margin-right: 1rem;
    width: 4rem; }
    .main-footer__icon--mr-none {
      margin-right: 0; }
  

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem; }
  
  .skills__skill {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background:#ffe15c;
    border-radius: 5px;
    font-weight: 600;
    color: #000000; }

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px; } }

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px; } }
